body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 3em;
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px;
    text-align: center;
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-button {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Orbitron', sans-serif; /* Cyberspace font */
}

.project-button:hover {
    background-color: #555;
}

footer {
    margin-top: 50px;
    font-size: 1em;
}
